body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #1E1E1E;
  }
  
  /* Navigationsmeny */
.navbar {
  position: absolute;
  top: 10px; /* Avstånd från toppen */
  right: 10px; /* Avstånd från höger */
  z-index: 10; /* Se till att menyn ligger ovanpå bilden */
}

.navbar .menu {
  list-style-type: none;
  margin-top: 40px;
  margin-right: 66px;
  display: flex;
  gap: 20px;
}

.navbar .menu li a {
  text-decoration: none;
  color: #1E1E1E;
  font-size: 18px;
  padding: 8px 12px;
}

.navbar .menu li a:hover {
  font-weight: bold;
}

/* Hamburgermenyn (mobilskärm) */
.navbar .hamburger {
  font-size: 30px;
  color: #1E1E1E;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar .hamburger {
    display: block; /* Visa hamburgermenyn på mobil */
    background-color: white;
    padding-left: 730px;
  }

  .navbar .menu {
    display: none; /* Dölj menyn som standard */
    flex-direction: column;
    position: fixed;
    top: 4px;
    right: -66px;
    background-color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .navbar .menu.active {
    display: flex; /* Visa menyn när hamburgaren är aktiverad */
  }

  .navbar .menu li {
    margin: 5px 0;
  }

  .navbar .menu li a {
    width: 100%;
    padding: 10px;
  }

}
  
/*ABOUT PAGE*/
h1 {
    font-size: 54px;
    padding-top: 6%;
}

.paragraph p {
    color: #1E1E1E;
    font-size: 13px;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}