* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /*margin: 0;*/
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #1E1E1E;
}

/* NAV */
header {
  padding: 10px 20px;
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

#brand {
  color: #ffffff;
  text-decoration: none;
}

header ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header ul a {
  color: #1E1E1E;
  text-decoration: none;
}

header ul li {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

header ul li:hover {
  font-weight: bold;
}

#hamburger-icon {
  margin: 10px 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #1E1E1E;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  background-color: #ffffff;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

/* MASSIKA PAGE */
h1 {
  font-size: 3.6rem;
  text-align: center;
  padding-top: 2%;
}

h2 {
  font-size: 2rem;
  font-weight: medium;
  text-align: center;
  margin-top: 4%;
}

h3 {
  font-size: 1.2rem;
  text-align: left;
  font-weight: medium;
  margin-left: 20%;
  margin-top: 2%;
}

#paragraph {
  font-size: 1rem;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

@media only screen and (max-width: 768px) {
  h2 {
    margin-top: 10%;
  }
    
  h3 {
    margin-left: 10%;
    margin-top: 6%;
  }

  #paragraph {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* HERO */
#top-massika {
  margin-bottom: 1%;
}

#project-name {
  font-size: 1.2rem;
  text-align: center;
}

.img-massika {
  width: 100%;
}
  
.image-massika1 {
  width: 15%;
  margin-left: 10.5%;
  margin-right: 0.2%;
  margin-bottom: 4%;
  margin-top: 2%;
}
  
.image-massika2 {
  width: 15%;
  margin-left: 0.2%;
  margin-right: 0.2%;
  margin-bottom: 4%;
  margin-top: 2%;
}
  
.image-massika3 {
  width: 15%;
  margin-left: 0.2%;
  margin-right: 0.2%;
  margin-bottom: 4%;
  margin-top: 2%;
}

.image-massika4 {
  width: 15%;
  margin-left: 0.2%;
  margin-right: 0.2%;
  margin-bottom: 4%;
  margin-top: 2%;
}

.image-massika5 {
  width: 15%;
  margin-left: 0.2%;
  margin-right: 10.5%;
  margin-bottom: 4%;
  margin-top: 2%;
}

@media only screen and (max-width: 768px) {
  .image-massika1 {
    margin-left: 8%;
  }

  .image-massika5 {
    margin-right: 8%;
  }

  .img-massika {
    margin-top: 6%;
  }
}

/* PROJECT OVERVIEW */
.project-overview {
  background-color: #F1F2F6;
  margin-top: 4%; 
}

.project-overview-heading {
  text-align: center;
  font-size: 2rem;
  padding-top: 6%;
}

.project-overview-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 6%;
}

.left-paragraph-massika h3 {
  font-weight: medium;
  text-align: left;
  font-size: 1.2rem;
  margin-left: 40%;
  margin-right: -20%;
  margin-bottom: 2%;
}
  
.left-paragraph-massika p {
  text-align: left;
  font-size: 1rem;
  margin-left: 40%;
  margin-right: -20%;
}

.right-paragraph-massika h3 {
  font-weight: medium;
  text-align: left;
  font-size: 1.2rem;
  margin-left: 30%;
  margin-right: 40%;
  margin-bottom: 2%;
  color: #F1F2F6;
}

.right-paragraph-massika p {
  text-align: left;
  font-size: 1rem;
  margin-left: 30%;
  margin-right: 40%;
  margin-bottom: 4%;
}
  
@media only screen and (max-width: 768px) { 
  .project-overview-heading {
    padding-top: 8%;
  }
  
  .project-overview-text {
    grid-template-columns: 1fr;
    padding-bottom: 8%;
  }

  .left-paragraph-massika h3 {
    margin-left: 10%;
    margin-right: 10%;
  }
    
  .left-paragraph-massika p {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .right-paragraph-massika h3 {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .right-paragraph-massika p {
    margin-left: 10%;
    margin-right: 10%;
  }
}
  
/* DESIGN PROCESS */
.design-process {
  width: 100%;
}

#design-process-desktop {
  width: 100%;
}

#design-process-mobile {
  display: none;
}

@media only screen and (max-width: 768px) { 
  #design-process-desktop {
    display: none;
  }
  
  #design-process-mobile {
    display: block;
    width: 100%;
  }
}

/*.process-container-massika {
  position: relative;
  width: 100%;
  margin-bottom: 9%;
}
  
.process-container-massika img {
  width: 100%;
  height: auto;
}
  
.wise {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
  
.process1 h3 {
  margin-left: -40%;
  margin-top: -4%;
  color: #FD9314;
  font-size: 1.3vw;
  font-weight: medium;
  text-align: center;
}
  
.process2 h3 {
  margin-left: 0%;
  margin-top: -4%;
  color: #E84FB0;
  font-size: 1.3vw;
  font-weight: medium;
  text-align: center;
}
  
.process3 h3 {
  margin-left: 44%;
  margin-top: -4%;
  color: #7C50ED;
  font-size: 1.3vw;
  font-weight: medium;
  text-align: center;
}
  
.process1 p {
  margin-left: -40%;
  color: #1E1E1E;
  font-size: 0.9vw;
  text-align: center;
}
  
.process2 p {
  margin-left: 0%;
  color: #1E1E1E;
  font-size: 0.9vw;
  text-align: center;
}
  
.process3 p {
  margin-left: 44%;
  color: #1E1E1E;
  font-size: 0.9vw;
  text-align: center;
}


/* RESEARCH */
.shadow-box-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 4%;
}

#konkurrensanalys-img {
  width: 100%;
  height: auto;
}

#affinity-diagram {
  width: 94%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 3%;
  padding-bottom: 3%;
}

#felicity {
  width: 100%;
  height: auto;
}

#kim { 
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) { 
  .shadow-box-img {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* DEVELOP */
#sitemap { 
  width: 94%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#userflow { 
  width: 94%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#requirement1 { 
  width: 94%;
  height: auto;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 6%;
  padding-bottom: 4%;
}

/* PROTOTYPE & TEST */
.wireframe1 {
  display: flex;
}

/*Rad 1 - Wireframe 1*/
.first-wireframe {
  width: 18.4%; /* Bredd på bilden */
  margin-left: 2%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}
  
/*Rad 1 - Wireframe 2*/
.second-wireframe {
  width: 18.4%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}
  
/*Rad 1 - Wireframe 3*/
.third-wireframe {
  width: 18.4%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}
  
/*Rad 1 - Wireframe 4*/
.four-wireframe {
  width: 18.4%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}
  
/*Rad 1 - Wireframe 5*/
.fifth-wireframe {
  width: 18.4%;
  margin-left: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}

#analysis-usability { 
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
}

#requirement2 { 
  width: 94%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
  padding-bottom: 2%;
}


/* RESULT */
.prototype-massika1 {
  display: flex;
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 20%;
}
  
.prototype-massika2 {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
}
  
/*Rad 1 - Prototyp 1*/
.prototype1 {
  width: 25%; /* Bredd på bilden */
  margin-right: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}
  
/*Rad 1 - Prototyp 2*/
.prototype2 {
  width: 25%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}
  
/*Rad 1 - Prototyp 3*/
.prototype3 {
  width: 25%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}
  
/*Rad 1 - Prototyp 4*/
.prototype4 {
  width: 25%;
  margin-left: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}
  
/*Rad 2 - Prototyp 1*/
.prototype5 {
  width: 25%; /* Bredd på bilden */
  margin-right: 0.5%;
  margin-bottom: 2%;
}
  
/*Rad 2 - Prototyp 2*/
.prototype6 {
  width: 25%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 2%;
}
  
/*Rad 2 - Prototyp 2*/
.prototype7 {
  width: 25%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 2%;
}
  
/*Rad 2 - Prototyp 3*/
.prototype8 {
  width: 25%;
  margin-left: 0.5%;
  margin-bottom: 2%;
}


@media only screen and (max-width: 768px) { 
  .prototype-massika1 {
    margin-left: 10%;
    margin-left: 10%;
  }
  
  .prototype-massika2 {
    margin-left: 10%;
    margin-left: 10%;
  }
  
  .prototype-massika1 {
    margin-top: 6%;
  }

  .prototype1 {
    width: 26%;
  }

  .prototype2 {
    width: 26%;
  }

  .prototype3 {
    width: 26%;
  }

  .prototype4 {
    width: 26%;
  }

  .prototype5 {
    width: 26%;
  }

  .prototype6 {
    width: 26%;
  }

  .prototype7 {
    width: 26%;
  }

  .prototype8 {
    width: 26%;
  }
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  padding: 20% 0% 10% 0%;
}

.copyright p {
  font-size: 0.8rem;
  text-align: center;
  color: #1E1E1E;
  margin-bottom: 6%;
  position: relative;
}