body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
}


.image-container {
  position: relative;
  text-align: center;
  color: white;
}

/*.image-container {
  position: relative;
  display: inline-block;
}*/

/*.image-container img {
  width: 100%;
  height: auto;
  max-width: 1200px;
}*/

.heading-big {
  font-size: 70px;
  color: #262A4E;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-small {
  font-size: 25px;
  color: #262A4E;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*h1 {
  font-size: 70px;
  color: #262A4E;
}*/

.uxDesigner {
  font-size: 100px;
  color: #1E2B85;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*h3 {
  font-size: 25px;
  color: #262A4E;
}*/
