body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #1E1E1E;
}

.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.text1 {
  top: 28%;
  color: #1E1E1E;
  font-size: 54px;
  font-weight: bold;
}

.text2 {
  top: 38%;
  color: #1E1E1E;
  font-size: 54px;
  font-weight: bold;
}

.text3 {
  top: 58%;
  color: #1E1E1E;
  font-size: 20px;
  font-weight: bold;
}

/*.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding: 20px;
}*/

/* VOLVO CARS */
.content1 {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-bottom: 2%;
}

.item1 img {
  width: 46%;
  height: auto;
  float: left;
  padding-right: 10%;
  transition: transform 0.3s;
}

.item1 img:hover {
  transform: scale(1.05);
}

.item1 h1 {
  color: #1E1E1E;
  font-weight: bold;
  font-size: 36px;
  padding-top: 8%;
  padding-left: 50%;
  padding-right: 2%;
}

.item1 p {
  color: #1E1E1E;
  font-weight: medium;
  font-size: 14px;
  padding-left: 50%;
  padding-right: 2%;
}

.item1 a:link, a:visited {
  color: #1E1E1E;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  padding-top: 8%;
}

.item1 a:hover, a:active {
  color: #1E1E1E;
}



/* WISE */
.content2 {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-bottom: 2%;
}

.item2 img {
  width: 46%;
  height: auto;
  float: right;
  padding-left: 10%;
  transition: transform 0.3s;
}

.item2 img:hover {
  transform: scale(1.05);
}

.item2 h1 {
  color: #1E1E1E;
  font-weight: bold;
  font-size: 36px;
  padding-top: 25.5%;
  padding-left: 2%;
  padding-right: 50%;
}

.item2 p {
  color: #1E1E1E;
  font-weight: medium;
  font-size: 14px;
  padding-left: 2%;
  padding-right: 50%;
}

.item2 a:link, a:visited {
  color: #1E1E1E;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  padding-top: 8%;
}

.item2 a:hover, a:active {
  color: #1E1E1E;
}



/* MASSIKA */
.content3 {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-bottom: 2%;
}

.item3 img {
  width: 46%;
  height: auto;
  float: left;
  padding-right: 10%;
  transition: transform 0.3s;
}

.item3 img:hover {
  transform: scale(1.05);
}

.item3 h1 {
  color: #1E1E1E;
  font-weight: bold;
  font-size: 36px;
  padding-top: 25%;
  padding-left: 50%;
  padding-right: 2%;
}

.item3 p {
  color: #1E1E1E;
  font-weight: medium;
  font-size: 14px;
  padding-left: 50%;
  padding-right: 2%;
}

.item3 a:link, a:visited {
  color: #1E1E1E;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  padding-top: 8%;
}

.item3 a:hover, a:active {
  color: #1E1E1E;
}