body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #1E1E1E;
}

/*INDEX PAGE*/
.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.text1 {
  top: 28%;
  color: #1E1E1E;
  font-size: 54px;
  font-weight: bold;
}

.text2 {
  top: 38%;
  color: #1E1E1E;
  font-size: 54px;
  font-weight: bold;
}

.text3 {
  top: 58%;
  color: #1E1E1E;
  font-size: 20px;
  font-weight: bold;
}



/* VOLVO CARS */
.item1 {
  width: 80%;
  height: auto;
  margin-top: 1%;
  margin-left: 10%;
  margin-bottom: 14%;
  border: 1px solid white;
} 

.item1 img {
  width: 46%;
  height: auto;
  float: left;
  transition: transform 0.3s;
}

.item1 img:hover {
  transform: scale(1.05);
}

.item1 h1 {
  color: #1E1E1E;
  font-weight: bold;
  font-size: 36px;
  margin-top: 10%;
  padding-left: 62%;
  padding-right: 8%;
}

.item1 p {
  color: #1E1E1E;
  font-weight: medium;
  font-size: 14px;
  margin-top: -1%;
  padding-left: 62%;
  padding-right: 8%;
}

.lank1 p {
  margin-top: 6%;
}

.lank1 a:link, a:visited {
  color: #1E1E1E;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.lank1 a:hover, a:active {
  color: #1E1E1E;
}



/* WISE */
.item2 {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-bottom: 14%;
  border: 1px solid white;
}

.item2 img {
  width: 46%;
  height: auto;
  float: right;
  transition: transform 0.3s;
}

.item2 img:hover {
  transform: scale(1.05);
}

.item2 h1 {
  color: #1E1E1E;
  font-weight: bold;
  font-size: 36px;
  margin-top: 10%;
  padding-left: 8%;
  padding-right: 64%;
}

.item2 p {
  color: #1E1E1E;
  font-weight: medium;
  font-size: 14px;
  margin-top: -1%;
  padding-left: 8%;
  padding-right: 64%;
}

.lank2 p {
  margin-top: 6%;
}

.lank2 a:link, a:visited {
  color: #1E1E1E;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.lank2 a:hover, a:active {
  color: #1E1E1E;
}



/* MASSIKA */
.item3 {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-bottom: 14%;
  border: 1px solid white;
}

.item3 img {
  width: 46%;
  height: auto;
  float: left;
  transition: transform 0.3s;
}

.item3 img:hover {
  transform: scale(1.05);
}

.item3 h1 {
  color: #1E1E1E;
  font-weight: bold;
  font-size: 36px;
  margin-top: 10%;
  padding-left: 64%;
  padding-right: 8%;
}

.item3 p {
  color: #1E1E1E;
  font-weight: medium;
  font-size: 14px;
  margin-top: -1%;
  padding-left: 64%;
  padding-right: 8%;
}

.lank3 p {
  margin-top: 6%;
}

.lank3 a:link, a:visited {
  color: #1E1E1E;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.lank3 a:hover, a:active {
  color: #1E1E1E;
}



/*VOLVO PAGE*/
.top-volvo h1 {
  font-size: 54px;
  padding-top: 1.5%;
}

.short-description p {
 margin-top: -2%;
}

.img-tpqd {
  position: relative;
  width: 100%;
}

.img-tpqd img {
  position: absolute;
  margin-top: 16%;
}

.left-image-tpqd {
  width: 31%;
  height: auto;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.center-image-tpqd {
  width: 46%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.right-image-tpqd {
  width: 31%;
  height: auto;
  left: 74%;
  top: 50%;
  transform: translate(-50%, -8%);
  z-index: 3;
}

/*PROJECT OVERVIEW*/
.project-overview-volvo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.project-overview-volvo h2 {
  font-weight: medium;
  text-align: center;
  font-size: 36px;
  margin-top: -1%;
}

.left-paragraph-tpqd h3 {
  width: 45%;
  padding-left: 12%;
  padding-right: 12%;
  font-weight: medium;
  text-align: left;
  font-size: 18px;
}

.left-paragraph-tpqd p {
  width: 45%;
  padding-left: 12%;
  padding-right: 12%;
  text-align: left;
  font-size: 13px;
}

.right-paragraph-tpqd p {
  width: 45%;
  padding-left: 12%;
  padding-right: 12%;
  text-align: left;
  font-size: 13px;
}