body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #1E1E1E;
  }

  h2 {
    font-weight: medium;
    text-align: center;
    font-size: 36px;
  }

  h3 {
    font-weight: medium;
    text-align: left;
    font-size: 20px;
    margin-left: 20%;
  }
  
  .navbar ul{
    list-style-type: none;
    margin-left: 37.5%;
    margin-top: -0.5%;
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    width: 50%;
  }
  
  .navbar li {
    float: right;
  }
  
  .navbar li a {
    display: block;
    padding: 20px;
    color: #1E1E1E;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    font-weight: bold;
  }

  /*WISE PAGE*/
  .top-wise h1 {
    font-size: 54px;
    padding-top: 6%;
  }
  
  .short-description p {
   margin-top: -2%;
  }

  .img-wise {
    display: flex;
  }
  
  .image-wise1 {
    width: 16%;
    margin-left: 18%;
    margin-right: 0.5%;
    margin-bottom: 4%;
    margin-top: 2%;
  }
  
  .image-wise2 {
    width: 16%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 4%;
    margin-top: 2%;
  }
  
  .image-wise3 {
    width: 16%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 4%;
    margin-top: 2%;
  }

  .image-wise4 {
    width: 16%;
    margin-left: 0.5%;
    margin-right: 18%;
    margin-bottom: 4%;
    margin-top: 2%;
  }

  /*PROJECT OVERVIEW*/  
  .heading-project-overview h2 {
    font-weight: medium;
    text-align: center;
    font-size: 36px;
    padding-top: 4%;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: -4%;
    margin-bottom: 0%;
    margin-left: -1%;
    margin-right: -1%;
    background-color: #F1F2F6;
  }

  .project-overview-wise {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: -1%;
    margin-right: -1%;
    background-color: #F1F2F6;
  }
  
  .left-paragraph-wise h3 {
    font-weight: medium;
    text-align: left;
    font-size: 20px;
    margin-left: 40%;
    margin-right: -20%;
  }
  
  .left-paragraph-wise p {
    text-align: left;
    font-size: 13px;
    margin-left: 40%;
    margin-right: -20%;
  }
  
  .right-paragraph-wise p {
    text-align: left;
    font-size: 13px;
    margin-left: 30%;
    margin-right: 40%;
  }
  
  