* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /*margin: 0;*/
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #1E1E1E;
}

/* NAV */
header {
  padding: 10px 20px;
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

#brand {
  color: #ffffff;
  text-decoration: none;
}

header ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header ul a {
  color: #1E1E1E;
  text-decoration: none;
}

header ul li {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

header ul li:hover {
  font-weight: bold;
}

#hamburger-icon {
  margin: 10px 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #1E1E1E;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  background-color: #ffffff;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

/* WISE PAGE */
h1 {
  font-size: 3.6rem;
  text-align: center;
  padding-top: 2%;
}

h2 {
  font-size: 2rem;
  font-weight: medium;
  text-align: center;
  margin-top: 4%;
}

h3 {
  font-size: 1.2rem;
  text-align: left;
  font-weight: medium;
  margin-left: 20%;
  margin-top: 2%;
}

#paragraph {
  font-size: 1rem;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

@media only screen and (max-width: 768px) {
  h2 {
    margin-top: 10%;
  }
    
  h3 {
    margin-left: 10%;
    margin-top: 6%;
  }

  #paragraph {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* HERO */
#top-wise {
  margin-bottom: 1%;
}

#project-name {
  font-size: 1.2rem;
  text-align: center;
}

.img-wise {
  width: 100%;
}
  
.image-wise1 {
  width: 16%;
  margin-left: 16%;
  margin-right: 0.3%;
  margin-bottom: 4%;
  margin-top: 2%;
}
  
.image-wise2 {
  width: 16%;
  margin-left: 0.3%;
  margin-right: 0.3%;
  margin-bottom: 4%;
  margin-top: 2%;
}
  
.image-wise3 {
  width: 16%;
  margin-left: 0.3%;
  margin-right: 0.3%;
  margin-bottom: 4%;
  margin-top: 2%;
}

.image-wise4 {
  width: 16%;
  margin-left: 0.3%;
  margin-right: 16%;
  margin-bottom: 4%;
  margin-top: 2%;
}

@media only screen and (max-width: 768px) {
  .image-wise1 {
    margin-left: 15%;
  }

  .image-wise4 {
    margin-right: 15%;
  }

  .img-wise {
    margin-top: 6%;
  }
}

/* PROJECT OVERVIEW */
.project-overview {
  background-color: #F1F2F6;
  margin-top: 4%; 
}

.project-overview-heading {
  text-align: center;
  font-size: 2rem;
  padding-top: 6%;
}

.project-overview-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 6%;
}

.left-paragraph-wise h3 {
  font-weight: medium;
  text-align: left;
  font-size: 1.2rem;
  margin-left: 40%;
  margin-right: -20%;
  margin-bottom: 2%;
}
  
.left-paragraph-wise p {
  text-align: left;
  font-size: 1rem;
  margin-left: 40%;
  margin-right: -20%;
}

.right-paragraph-wise h3 {
  font-weight: medium;
  text-align: left;
  font-size: 1.2rem;
  margin-left: 30%;
  margin-right: 40%;
  margin-bottom: 2%;
  color: #F1F2F6;
}

.right-paragraph-wise p {
  text-align: left;
  font-size: 1rem;
  margin-left: 30%;
  margin-right: 40%;
  margin-bottom: 4%;
}
  
@media only screen and (max-width: 768px) { 
  .project-overview-heading {
    padding-top: 8%;
  }
  
  .project-overview-text {
    grid-template-columns: 1fr;
    padding-bottom: 8%;
  }

  .left-paragraph-wise h3 {
    margin-left: 10%;
    margin-right: 10%;
  }
    
  .left-paragraph-wise p {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .right-paragraph-wise h3 {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .right-paragraph-wise p {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* DESIGN PROCESS */
.design-process {
  width: 100%;
}

#design-process-desktop {
  width: 100%;
}

#design-process-mobile {
  display: none;
}

@media only screen and (max-width: 768px) { 
  #design-process-desktop {
    display: none;
  }
  
  #design-process-mobile {
    display: block;
    width: 100%;
  }
}

/*.design-process {
  position: relative;
  width: 100%;
  margin-bottom: 4%;
}
  
.design-process img {
  width: 100%;
  height: auto;
}
  
.wise {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.process1 h3 {
  margin-left: -40%;
  margin-top: -4%;
  color: #FD9314;
  font-size: 1.3vw;
  font-weight: medium;
  text-align: center;
}
  
.process2 h3 {
  margin-left: 0%;
  margin-top: -4%;
  color: #E84FB0;
  font-size: 1.3vw;
  font-weight: medium;
  text-align: center;
}
  
.process3 h3 {
  margin-left: 36%;
  margin-top: -4%;
  color: #7C50ED;
  font-size: 1.3vw;
  font-weight: medium;
  text-align: center;
}
  
.process1 p {
  margin-left: -40%;
  color: #1E1E1E;
  font-size: 0.9vw;
  text-align: center;
}
  
.process2 p {
  margin-left: 0%;
  color: #1E1E1E;
  font-size: 0.9vw;
  text-align: center;
}
  
.process3 p {
  margin-left: 36%;
  color: #1E1E1E;
  font-size: 0.9vw;
  text-align: center;
}

/*1 RESEARCH */
.shadow-box-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 4%;
}

#konkurrensanalys-img {
  width: 100%;
  height: auto;
}

#tematiskanalys-img {
  width: 92%;
  height: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 4%;
  margin-right: 4%;
}

.shadow-box-text {
  display: grid;
  grid-template-columns: 50% 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.text-box-left h4 {
  color: #1E1E1E;
  font-size: 1rem;
  font-weight: medium;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 2%;
}

.text-box-left p {
  color: #1E1E1E;
  font-size: 1rem;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

.text-box-right h4 {
  color: #1E1E1E;
  font-size: 1rem;
  font-weight: medium;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 2%;
}

.text-box-right p {
  color: #1E1E1E;
  font-size: 1rem;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

@media only screen and (max-width: 768px) { 
  .shadow-box-img {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .shadow-box-text {
    grid-template-columns: 1fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%; margin-bottom: 6%;
    padding-bottom: 6%;
  }

  .text-box-left h4 { 
    padding-top: 6%;
  }

  .text-box-right h4 {
    padding-top: 6%;
  }
}

/* 2 DESIGN & PROTOTYPE */
.wireframe1 {
  display: flex;
}

.wireframe2 {
  display: flex;
}

/*Rad 1 - Wireframe 1*/
.first-wireframe1 {
  width: 18.4%; /* Bredd p책 bilden */
  margin-left: 2%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}

/*Rad 1 - Wireframe 2*/
.second-wireframe1 {
  width: 18.4%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}

/*Rad 1 - Wireframe 3*/
.third-wireframe1 {
  width: 18.4%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}

/*Rad 1 - Wireframe 4*/
.four-wireframe1 {
  width: 18.4%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}

/*Rad 1 - Wireframe 5*/
.fifth-wireframe1 {
  width: 18.4%;
  margin-left: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}

/*Rad 2 - Wireframe 1*/
.first-wireframe2 {
  width: 18.4%; /* Bredd p책 bilden */
  margin-left: 2%;
  margin-right: 0.5%;
  margin-bottom: 2%;
}

/*Rad 2 - Wireframe 2*/
.second-wireframe2 {
  width: 18.4%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 2%;
}

/*Rad 2 - Wireframe 3*/
.third-wireframe2 {
  width: 18.4%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 2%;
}

/*Rad 2 - Wireframe 4*/
.four-wireframe2 {
  width: 18.4%;
  margin-left: 0.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

/* TEST */
/*Insikter och Behov av tematisk analys*/
.shadow-box-text1 {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.patterns h4 {
  color: #1E1E1E;
  font-size: 1rem;
  font-weight: medium;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

.patterns p {
  color: #1E1E1E;
  font-size: 1rem;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

.insights h4 {
  color: #1E1E1E;
  font-size: 1rem;
  font-weight: medium;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

.insights p {
  color: #1E1E1E;
  font-size: 1rem;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

.recommendations h4 {
  color: #1E1E1E;
  font-size: 1rem;
  font-weight: medium;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

.recommendations p {
  color: #1E1E1E;
  font-size: 1rem;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

/*Tematisk analys bild 2*/
#tematiskanalys-img2 {
  width: 92%;
  height: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 4%;
  margin-right: 4%;
}

@media only screen and (max-width: 768px) { 
  .shadow-box-text1 {
    grid-template-columns: 1fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
    padding-bottom: 6%;
  }

  .patterns h4 { 
    padding-top: 6%;
  }

  .insights h4 {
    padding-top: 6%;
  }

  .recommendations h4 {
    padding-top: 6%;
  }
}

/* RESULT */
.prototype-wise {
  margin-top: 4%;
}
.prototype-wise1 {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
}

.prototype-wise2 {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
}

/*Rad 1 - Prototyp 1*/
.prototype1 {
  width: 25%; /* Bredd p책 bilden */
  margin-right: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}

/*Rad 1 - Prototyp 2*/
.prototype2 {
  width: 25%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}

/*Rad 1 - Prototyp 3*/
.prototype3 {
  width: 25%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}

/*Rad 1 - Prototyp 4*/
.prototype4 {
  width: 25%;
  margin-left: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}

/*Rad 2 - Prototyp 1*/
.prototype5 {
  width: 25%; /* Bredd p책 bilden */
  margin-right: 0.5%;
  margin-bottom: 2%;
}

/*Rad 2 - Prototyp 2*/
.prototype6 {
  width: 25%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 2%;
}

/*Rad 2 - Prototyp 2*/
.prototype7 {
  width: 25%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 2%;
}

/*Rad 2 - Prototyp 3*/
.prototype8 {
  width: 25%;
  margin-left: 0.5%;
  margin-bottom: 2%;
}

@media only screen and (max-width: 768px) {
  .prototype-wise1 {
    margin-left: 10%;
    margin-left: 10%;
  }
  
  .prototype-wise2 {
    margin-left: 10%;
    margin-left: 10%;
  }

  .prototype1 {
    width: 26;
  }

  .prototype2 {
    width: 26;
  }

  .prototype3 {
    width: 26;
  }

  .prototype4 {
    width: 26;
  }

  .prototype5 {
    width: 26;
  }

  .prototype6 {
    width: 26;
  }

  .prototype7 {
    width: 26;
  }
  .prototype8 {
    width: 26;
  }
}

/* FOOTER */
#footer {
  position: relative;
  bottom: 0;
  padding: 104px 0px 32px 0px;
}

#footer div {
  justify-content: center;
}

.copyright {
  display: flex;
  text-align: center;
  align-items: center;
}

.copyright p {
  font-size: 0.8rem;
  text-align: center;
  color: #1E1E1E;
  margin-bottom: 6%;
  position: relative;
}